@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.App {
  font-family: 'Montserrat';
  text-align: center;
}

.box {
  font-family: 'Montserrat';
  border: 1px solid #d6d3c9;
  margin-bottom: 25px;
}

.box:hover {
  box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.253);
}
